bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
SDL2.dll
freetype.dll
servers.cfg

crapnet*
config_store*
config_retrieve*
dilate*
fake_server*
map_resave*
map_version*
packetgen*
teeworlds*
teeworlds_srv*
chillerbot-ng
chillerbot-ng_x86
chillerbot-ng_x86_64
chillerbot-ng_x86_d
serverlaunch_*
tileset_border*
twping*

Debug
bam
build server.bat
buildlog.txt
bam.exe
.cproject
.project
*.dtb
*.log
*.exe
*.res
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.filters
*.user
*.cmd
.settings
*.opensdf
*.pyc
*.dll

DDNet*
